/*Mat Cards Icons - Manager Page */
.arrivals {
  background-image: url('/assets/icons/manager-page-icons/arrivals.jpg');
  background-size: cover;
}

.availability{
  background-image: url('/assets/icons/manager-page-icons/availability.jpg');
  background-size: cover;
}

.reservations{
  background-image: url('/assets/icons/manager-page-icons/reservations.jpg');
  background-size: cover;
}

mat-card:hover{
  background-color: lightgrey;
}
