<nav-toolbar></nav-toolbar>
<div class="flex items-center justify-center min-h-screen bg-gray-100 p-1">
  <div class="w-full max-w-md">
    <mat-card class="register-card" appearance="outlined">
      <mat-card-title class="register-title text-center text-2xl">Register</mat-card-title>
      <mat-card-content class="mb-0.5 mt-0.5">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form space-y-1">
          <div class="mb-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              <mat-error *ngIf="registerForm.get('firstName')?.hasError('required')">
                First Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required>
              <mat-error *ngIf="registerForm.get('lastName')?.hasError('required')">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-error *ngIf="registerForm.get('username')?.hasError('required')">
                Username is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required>
              <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
                Password must be at least 6 characters long
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" required>
              <mat-error *ngIf="registerForm.get('address')?.hasError('required')">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
              <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
                Email is required
              </mat-error>
              <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
                Enter a valid email
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="validSelection" [errorStateMatcher]="matcher">
                <mat-option value="valid">Male ♂</mat-option>
                <mat-option value="invalid">Female ♀</mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('validSelection')?.hasError('required')">
                You must make a selection
              </mat-error>
              <mat-error *ngIf="registerForm.get('validSelection')?.hasError('pattern') && !registerForm.get('validSelection')?.hasError('required')">
                Your selection is invalid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="registerForm.get('dateOfBirth')?.hasError('required')">
                Date of Birth is required
              </mat-error>
            </mat-form-field>
          </div>

        </form>
        <button mat-raised-button color="primary" type="submit" class="w-full">Sign Up</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
