<nav-toolbar></nav-toolbar>
<div class="flex items-center justify-center min-h-screen bg-gray-100 p-1">
  <div class="w-full max-w-md">
    <mat-card class="register-card" appearance="outlined">
      <mat-card-title class="register-title text-center text-2xl">Register</mat-card-title>
      <mat-card-content class="mb-0.5 mt-0.5">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form space-y-1">
          <div class="mb-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
              @if (registerForm.get('firstName')?.hasError('required')) {
                <mat-error>First Name is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required>
              @if (registerForm.get('lastName')?.hasError('required')) {
                <mat-error>Last Name is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
              @if (registerForm.get('username')?.hasError('required')) {
                <mat-error>Username is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" required>
              @if (registerForm.get('password')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
              }
              @if (registerForm.get('password')?.hasError('minlength')) {
                <mat-error>Password must be at least 6 characters long</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" required>
              @if (registerForm.get('email')?.hasError('required')) {
                <mat-error>Email is required</mat-error>
              }
              @if (registerForm.get('email')?.hasError('email')) {
                <mat-error>Enter a valid email</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="validSelection" >
                <mat-option value="male">Male ♂</mat-option>
                <mat-option value="female">Female ♀</mat-option>
              </mat-select>
              @if (registerForm.get('validSelection')?.hasError('required')) {
                <mat-error>You must make a selection</mat-error>
              }
              @if (registerForm.get('validSelection')?.hasError('pattern') && !registerForm.get('validSelection')?.hasError('required')) {
                <mat-error>Your selection is invalid</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (registerForm.get('dateOfBirth')?.hasError('required')) {
                <mat-error>Date of Birth is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="mb-4">
            <button mat-raised-button color="primary" type="submit" class="w-full">Sign Up</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
