<div class="sticky top-0 bg-red-900 text-white flex items-center justify-between p-4 z-50 shadow-md">
  <div class="text-lg font-semibold">
    <a routerLink="/home" >Hotel Management</a>
  </div>
  <div class="hidden md:flex space-x-4">
    <a class="hover:underline hover:text-orange-500 transition duration-300">Manage Users</a>
    <a class="hover:underline hover:text-orange-500 transition duration-300">Manage Rooms</a>
    <a class="hover:underline hover:text-orange-500 transition duration-300">Manage Bookings</a>
    <a class="hover:underline hover:text-orange-500 transition duration-300">Login</a>
  </div>
  <button class="md:hidden" (click)="toggleMenu()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>
</div>

<div [ngClass]="{ 'block': isMenuOpen, 'hidden': !isMenuOpen }" class="md:hidden bg-blue-500 text-white p-4 space-y-2">
  <a routerLink="/bookings" class="block hover:underline hover:text-orange-500 transition duration-300">Bookings</a>
  <a routerLink="/register" class="block hover:underline hover:text-orange-500 transition duration-300">Register</a>
  <a routerLink="/login" class="block hover:underline hover:text-orange-500 transition duration-300">Login</a>
</div>
